@model UserStore.Models.StoryAndCommentModel

@{
    ViewBag.Title = "Stories";
}

<h2>Stories</h2>

    <div>
        <h4>Story</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Story.User.UserName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Story.User.UserName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Story.Theme)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Story.Theme)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Story.Stories)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Story.Stories)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Story.TimePublicate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Story.TimePublicate)
            </dd>

        </dl>
    </div>
<div>
    @if (Request.IsAuthenticated)
    {
        using (Ajax.BeginForm("CommentPartial", new AjaxOptions {UpdateTargetId = "comment"}))
         {
             @Html.Hidden("storyId", Model.Story.Id)
             <input type="text" name="text"/>
             <input type="submit" value="add"/>
         }
    }
    <div id="comment">
        @Html.Partial("CommentPartial", Model.CommentList)
    </div>
</div>
@Scripts.Render("~/scripts/jquery-3.2.1.min.js")
@Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")